<!doctype html>
<html lang="en"><head>
<title>Gist</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,400italic,500,700|Patua+One|Droid+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="wrapper" class="container">
    <div class="navbar navbar-fixed-top navbar-default">
        <div class="container">
            <a class="navbar-brand" href="#">gistbender</a>
                <button id="new_sketch" class="btn navbar-btn navbar-right"><a href="/">New Sketch</a></button>
        </div>
    </div>
    <div id="container_top" class="row">
        <div class="col-sm-12 col-md-12">
            <div class="row">
            {% if description %}
            <div id="description_body">
                {% if filename %}
                <span id="description_filename">{{ filename }}:</span>
                {% endif %}
                {{ description }}
            </div>
            {% else %}
            <input id="sketch_description" type="text" placeholder="Sketch description..." class="form-control">
            {% endif %}
            </div>
        </div>
    </div>
    <div id="container_bottom" class="row">
        <div class="col-sm-12 col-md-12">
            <div class="row">
                <div class="col-sm-3 col-md-3" id="controls">
                    <ul class="nav nav-sidebar">
                        <li><select id="cb_cf_boards"></select></li>
                        <li><button class="btn btn-success" id="cb_cf_verify_btn" disabled="disabled">
                          <i class="glyphicon glyphicon-ok"></i> Verify Code
                        </button></li>
                        <li><select id="cb_cf_ports" class="dropdown-select"></select></li>
                        <li><button class="btn btn-success" id="cb_cf_flash_btn" disabled="disabled">
                          <i class="glyphicon glyphicon-arrow-right"></i> Run on Arduino
                        </button></li>
                        <li><select id="cb_cf_programmers"> </select></li>
                        <li><button class="btn btn-default" id="cb_cf_flash_with_prog_btn" disabled="disabled">
                        <i class="glyphicon glyphicon-upload"></i> Flash w/ Programmer
                        </button></li>
                        <li><span id="#speed_label">Speed:</span></li> 
                        <li><select id="cb_cf_baud_rates"></select></li>
                        <li><button class="btn btn-default" id="cb_cf_serial_monitor_connect">
                            <i class="glyphicon glyphicon-list-alt"></i> Connect
                        </button></li>
                        <li><div id="cb_cf_serial_monitor"></div></li>
                        <br>
                        <li><button class="btn btn-success" id="share_sketch">
                            <i class="glyphicon glyphicon-send"></i> Share Sketch
                        </button></li>
                        <li id="generated_url"></li>
                    </ul>
                </div>
                <div class="col-sm-9 col-md-9">
                    <div id="sketch_filename_panel" class="row">
                        {% if filename %}
                        <input id="sketch_filename" type="text" placeholder="{{ filename }}" class="form-control">
                        {% else %}
                        <input id="sketch_filename" type="text" placeholder="Sketch filename..." class="form-control">
                        {% endif %}
                    </div>
                    <div class="row">
                        {% if code %}
                        <pre id="editor">{{ code }}</pre>
                        {% else %}
                        <pre id="editor">
// the setup function runs once when you press reset or power the board
void setup() {
  // initialize digital pin 13 as an output.
  pinMode(13, OUTPUT);
}

// the loop function runs over and over again forever
void loop() {
  digitalWrite(13, HIGH);   // turn the LED on (HIGH is the voltage level)
  delay(1000);              // wait for a second
  digitalWrite(13, LOW);    // turn the LED off by making the voltage LOW
  delay(1000);              // wait for a second
}</pre>
                        {% endif %}
                        <div id="additional_info_panel">
                            <span id="editor_info_panel">
                                <a id="reformat_code" href="javascript:void(0)" onclick="autoFormat();" data-toggle="tooltip" data-placement="top" title="Reformat Code">
                                    <i class="icon-indent-right"></i>
                                </a>
                                <a id="show_keyboard_hotkeys" href="javascript:void(0)" onclick="showHotkeysModal()" data-toggle="tooltip" data-placement="top" title="Keyboard Shortcuts">
                                    <i class="icon-keyboard"></i>
                                </a>
                            </span>
                            <span id="compile_output_close">
                                <button id="compiler_output_close_btn" type="button" class="close">x</button>
                            </span>
                            <span id="sketch_info">
                                <div id="lines">Number of lines: <span id="line_count">0</span></div>
                                <div id="sketch_size">Sketch size: <span id="sketch_size_number">0</span> bytes</div>
                            </span>
                            <pre id="compile_output"></pre>
                            <div id="serial_monitor">
                                <div id="cb_cf_serial_monitor"></div>
                                <div id="cb_cf_operation_output"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
    
<script src="../static/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://codebender.cc/embed/compilerflasher.js" type="text/javascript"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/textmate");
    editor.getSession().setMode("ace/mode/c_cpp");
    editor.setShowPrintMargin(false);
    
    editor.getSession().on('change', function(){
        $("#line_count").html(editor.getSession().getValue().split("\n").length);
    });


    $(document).ready(function(){
        $('#generated_url').hide();
        $("#line_count").html(editor.getSession().getValue().split("\n").length);

        compilerflasher = new compilerflasher(function(){
            return {"sketch.ino": editor.getSession().getValue()};
        });

        // creating a new sketch url
        $('#share_sketch').click(function(){

            // add sketch to database
            $.post('/api/sketches', {
                filename: $('#sketch_filename').val(),
                description: $('#sketch_description').val(),
                code: editor.getSession().getValue()

            // retrieve sketch url postfix
            }, function(data){
                $('#generated_url').append("<a href='/sketch/" + data + "'>/sketch/" + data + "</a>");
                $('#generated_url').slideDown(400);
            });
        });
    });
</script>

</body>
</html>
